@import url(chrome://global/skin/);

#simpleInterfaceRowsContainer {
	overflow:auto;
	height: calc(100vh - 160px);
}

#autofillFormsPrefPaneMainBox {
	margin-bottom:5px;
}

#fieldRulesTree {
	min-height:100px;
}
#profilesTree {
	min-height:100px;
}

treechildren::-moz-tree-checkbox {
	/* unchecked checkbox treecells */
	list-style-image: none;
}
treechildren::-moz-tree-checkbox(checked) {
	/* checked checkbox treecells*/
	list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
treechildren::-moz-tree-checkbox(disabled) {
	/* disabled checkbox treecells */
	list-style-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif");
}

button.move {
	list-style-image: url("arrows.png");
}

button.up {
	-moz-image-region: rect( 16px 32px 32px 16px);
}
button.up[disabled="true"] {
	-moz-image-region: rect( 0px 32px 16px 16px);
}

button.down {
	-moz-image-region: rect( 16px 16px 32px 0px);
}
button.down[disabled="true"] {
	-moz-image-region: rect( 0px 16px 16px 0px);
}

.placeholderTextbox {
	width:100px;
}

.shortCutsLabelColumn {
	max-width:170px;
}
.shortCutsKeyColumn {
	min-width:200px;
}

.shortcutTextbox {
	font-family:monospace;
}
.mouseShortcutTextbox {
}

#autofillFormsPrefs radio[pane] {
	list-style-image: url("chrome://browser/skin/preferences/Options.png");
}

#autofillFormsPrefs radio[pane="autofillFormsPrefPaneSimple"] {
	-moz-image-region: rect(0px, 96px, 32px, 64px);
}
#autofillFormsPrefs radio[pane="autofillFormsPrefPaneMain"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}
#autofillFormsPrefs radio[pane="autofillFormsPrefPaneProfiles"] {
	-moz-image-region: rect(0px, 128px, 32px, 96px);
}
#autofillFormsPrefs radio[pane="autofillFormsPrefPaneAdvanced"] {
	-moz-image-region: rect(0px, 224px, 32px, 192px);
}
#autofillFormsPrefs radio[pane="autofillFormsPrefPaneGUI"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}
